<mat-card appearance="outlined">
    <mat-card-content>
        <h2>{{ 'MODULES' | translate }}</h2>
        <mat-tab-group>
            <!-- Enter -->
            <mat-tab label="Enter Module Marks">
                <div class="tab-content">
                    <app-admin-portal-modules-enter></app-admin-portal-modules-enter>
                </div>
            </mat-tab>
            <!-- Edit -->
            <mat-tab label="Edit Module Marks">
                <div class="tab-content">
                    <app-admin-portal-modules-edit></app-admin-portal-modules-edit>
                </div>
            </mat-tab>
            <!-- View -->
            <mat-tab label="View Module Marks">
                <div class="tab-content">
                    <app-admin-portal-modules-view></app-admin-portal-modules-view>
                </div>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>