<mat-card appearance="outlined">
    <mat-card-content>
        <h2>{{ 'MODULES' | translate }}</h2>
        <mat-tab-group>
            <!-- Enter -->
            <mat-tab label="Enter Module Marks">
                <div class="tab-content">
                    Enter new module marks
                </div>
            </mat-tab>
            <!-- Edit -->
            <mat-tab label="Edit Module Marks">
                <div class="tab-content">
                    Edit existing module marks
                </div>
            </mat-tab>
            <!-- View -->
            <mat-tab label="View Module Marks">
                <div class="tab-content">
                    View existing module marks
                </div>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>