<mat-drawer-container hasBackdrop="false">
    <mat-drawer #adminSideNav mode="over">
        <div class="side-bar-title" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Admin Portal</div>
            <button mat-icon-button (click)="adminNavToggle()">
                <mat-icon aria-label="Example home icon" fontIcon="close"></mat-icon>
            </button>
        </div>
        <div>
            <mat-list>
                <mat-list-item>
                    <button mat-flat-button (click)="adminLoadContent('dashboard')">Dashboard</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-flat-button (click)="adminLoadContent('modules')">Modules</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-flat-button (click)="adminLoadContent('settings')">Settings</button>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-drawer>

    <mat-drawer-content class="sidebar">
        <app-navigation-bar (toggleAdminNav)="adminNavToggle()"></app-navigation-bar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>