<mat-drawer-container hasBackdrop="false">
    <mat-drawer #adminSideNav mode="over">
        <div class="side-bar-title" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="side-bar-title-label title">{{ 'ADMINPORTAL' | translate }}</div>
            <button mat-icon-button (click)="adminNavToggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div>
            <mat-list>
                <mat-list-item (click)="adminLoadContent('dashboard')">
                    <mat-icon matListItemIcon>home</mat-icon>
                    <div matListItemTitle>{{ 'DASHBOARD' | translate }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>{{ 'STUDENTMANAGEMENT' | translate }}</div>
                <mat-list-item (click)="adminLoadContent('student-management-register')">
                    <mat-icon matListItemIcon>how_to_reg</mat-icon>
                    <div matListItemTitle>{{ 'REGISTER' | translate }}</div>
                </mat-list-item>
                <mat-list-item (click)="adminLoadContent('student-management-view')">
                    <mat-icon matListItemIcon>group</mat-icon>
                    <div matListItemTitle>{{ 'VIEW' | translate }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="adminLoadContent('modules')">
                    <mat-icon matListItemIcon>library_books</mat-icon>
                    <div matListItemTitle>{{ 'MODULES' | translate }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="adminLoadContent('modules')">
                    <mat-icon matListItemIcon>library_books</mat-icon>
                    <div matListItemTitle>{{ 'TEST' | translate }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="adminLoadContent('logout')">
                    <mat-icon matListItemIcon>logout</mat-icon>
                    <div matListItemTitle>{{ 'LOGOUT' | translate }}</div>
                </mat-list-item>
                <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                    <mat-icon>language</mat-icon>
                </button>
            </mat-list>
        </div>
    </mat-drawer>

    <mat-drawer-content class="sidebar">
        <app-navigation-bar (toggleAdminNav)="adminNavToggle()"></app-navigation-bar>
        <div class="admin-portal-display">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #languageMenu="matMenu">
    <mat-radio-group (change)="languageChange($event)" class="languageMenuComponent" fxLayout="column" aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" value="en-gb">English (UK)</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="es">Español</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="fr">Français</mat-radio-button>
    </mat-radio-group>
</mat-menu>