<mat-card appearance="outlined" class="page-content">
    <mat-card-content>
        <h1>{{ 'WELCOME' | translate }} {{ user.firstname }},</h1>
        <h2>{{ 'DASHBOARDINFOTEXT' | translate }}</h2>
        <div>
            <div fxLayout="row">
                <div fxFlex>
                    <canvasjs-chart [options]="studentResultOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> 
                </div>
                <div fxFlex>
                    <canvasjs-chart [options]="resultsByCourseOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> 
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>