/* You can add global styles to this file, and also import other style files */
 @import '@angular/material/prebuilt-themes/indigo-pink.css';
 html, body, app-root {
    min-height: 100vh;
    height: auto;
    margin: 0;
 }

 .title {
   font-size: 22px;
   font-family: sans-serif;
 }