<div fxLayoutAlign="space-around center">
    <form fxLayout="column">
        <h1>Admin Portal</h1>
        <mat-form-field>
            <mat-label>Username</mat-label>
              <input matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
              <input matInput type="password">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-stroked-button color="accent">Login</button>
            <button mat-flat-button color="accent">Register</button>
        </div>
    </form>
</div>